{% extends 'base.html' %}

{% block content %} 
  
<main class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <header class="card-header">
                    <a href="{% url 'home' %}" class="float-end btn btn-outline-primary mt-1">Home</a>
                    <h4 class="text-center">Sign in</h4>
                </header>
                <article class="card-body">
                    <form action = "/signin/" method="POST" class="card card-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="Write your Username" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password1" name="password"
                                placeholder="Write your Password" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </form>
                </article>
            </div>
        </div>
</main>

{% endblock %}
